@model DEPI_Project.Models.Product
@{
    ViewBag.Title = "تأكيد الحذف";
}

<h1>تأكيد الحذف</h1>

<p>هل أنت متأكد أنك تريد حذف المنتج "@Model.Name"؟</p>

<form asp-action="DeleteProduct" method="post">
    <input type="hidden" asp-for="Id" />
    <button type="submit" class="btn btn-danger">نعم، احذف المنتج</button>
    <a asp-action="MyStoreProducts" class="btn btn-secondary">إلغاء</a>
</form>
