@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@page
@{
    ViewData["Title"] = "Register confirmation";
}
<div style="margin: 200px; text-align:center;">
    <a style="border:5px solid #920b21; background-color:#920b21; color:white; margin:40px;  font-size:40px;" asp-controller="Home" asp-action="Index">Home</a>
    <a style="border:5px solid #920b21; background-color:#920b21; color:white; margin:40px;  font-size:40px;" asp-controller="Admin" asp-action="Index">Dashboard</a>
</div>